<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV using HTML & CSS</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="left-side">
                    <div class="profile-text">
                        <div class="imgBx">
                            <img src="img/avatar.jpg">
                        </div>
                        <h2>Nguyễn Văn Đức<br><span>Web Developer</span></h2>
                    </div>
                    <div class="contact-info">
                        <ul>
                            <li>
                                <span class="icon">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                                <span class="text">18/04/99</span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span class="text">Nam</span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fas fa-phone-square-alt"></i>
                                </span>
                                <span class="text">0965974599</span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fas fa-envelope-square"></i>
                                </span>
                                <span class="text">nguyenduc180499@gmail.com</span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                <span class="text">Số nhà 16 - ngõ 506, Bạch Mai,Trương Định, Hai Bà Trưng, Hà Nội</span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fas fa-link"></i>
                                </span>
                                <span class="text">https://fb.com/duc.nv176723</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="contact-info education">
                        <h3 class="left-title">Education</h2>
                        <ul>
                            <li>
                                <h5>2017 - Present</h5>
                                <h4>Hanoi University of Science and Technolog</h4>
                                <h4>Information Technology Specialist</h4>
                            </li>
                        </ul>
                    </div>

                    <div class="contact-info language">
                        <h3 class="left-title">Languages</h2>
                        <ul>
                            <li>
                                <span class="text">English</span>
                                <span class="percent">
                                    <div style="width: 90%;"></div>
                                </span>
                            </li>
                            <li>
                                <span class="text">Japan</span>
                                <span class="percent">
                                    <div style="width: 65%;"></div>
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="right-side">
                    <div class="about">
                        <h2 class="right-title">Profile</h2>
                        <p>
                            A developer is an individual that builds and create 
                            software and applications. He or she writes, 
                            debugs and executes the source code of a software application.<br><br>
                            A developer is also known as a software developer, 
                            computer programmer, programmer, 
                            software coder or software engineer.
                        </p>
                    </div>

                    <div class="about">
                        <h2 class="right-title">Experience</h2>
                        <div class="box">
                            <div class="year-company">
                                <h5>2019 - 2020</h5>
                                <h5>Company Name</h5>
                            </div>
                            <div class="text">
                                <h4>Senior UX Designer</h4>
                                <p>A developer is also known as a software developer, 
                                    computer programmer, programmer, 
                                    software coder or software engineer.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="year-company">
                                <h5>2020 - 2021</h5>
                                <h5>Company Name</h5>
                            </div>
                            <div class="text">
                                <h4>Senior UX Designer</h4>
                                <p>A developer is also known as a software developer, 
                                    computer programmer, programmer, 
                                    software coder or software engineer.
                                </p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="year-company">
                                <h5>2021 - Present</h5>
                                <h5>Company Name</h5>
                            </div>
                            <div class="text">
                                <h4>Senior UX Designer</h4>
                                <p>A developer is also known as a software developer, 
                                    computer programmer, programmer, 
                                    software coder or software engineer.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="about skills">
                        <h2 class="right-title">Professional Skills</h2>
                        <div class="box">
                            <h4>Html</h4>
                            <div class="percent">
                                <div style="width: 85%;"></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>CSS</h4>
                            <div class="percent">
                                <div style="width: 70%;"></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>Javascript</h4>
                            <div class="percent">
                                <div style="width: 75%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>