<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV using HTML & CSS</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        
        
    </head>
    <body>
        
        <div id="app">
            <div class="container">
                <div class="left-side">
                    <div class="profile-text">
                        <div class="imgBx">
                            <img v-bind:src="contact.avatar">
                        </div>
                        <h2>{{ contact.name }}<br><span>{{ contact.profession }}</span></h2>
                    </div>
                    <div class="contact-info">
                        <ul>
                            <li v-for="info in contact.informations">
                                <span class="icon">
                                    <i v-bind:class="info.icon"></i>
                                </span>
                                <span class="text">{{ info.text }}</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="contact-info education">
                        <h3 class="left-title">Education</h2>
                        <ul>
                            <li>
                                <h5>{{ education.year }}</h5>
                                <h4>{{ education.school }}</h4>
                                <h4>{{ education.category }}</h4>
                            </li>
                        </ul>
                    </div>

                    <div class="contact-info language">
                        <h3 class="left-title">Languages</h2>
                        <ul>
                            <li v-for="lang in languages">
                                <span class="text"> {{ lang.name }}</span>
                                <span class="percent">
                                    <div v-bind:style="lang.style"></div>
                                </span>
                            </li>
                            
                        </ul>
                    </div>

                </div>
                <div class="right-side">
                    <div class="about">
                        <h2 class="right-title">Profile</h2>
                        <p>
                            A developer is an individual that builds and create 
                            software and applications. He or she writes, 
                            debugs and executes the source code of a software application.<br><br>
                            A developer is also known as a software developer, 
                            computer programmer, programmer, 
                            software coder or software engineer.
                        </p>
                    </div>

                    <div class="about">
                        <h2 class="right-title">Experience</h2>
                        <div class="box" v-for="exp in experiences">
                            <div class="year-company">
                                <h5>{{exp.year}}</h5>
                                <h5>{{exp.company_name}}</h5>
                            </div>
                            <div class="text">
                                <h4>{{exp.assume}}</h4>
                                <p>{{exp.description}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="about skills">
                        <h2 class="right-title">Professional Skills</h2>
                        <div class="box" v-for="skill in skills">
                            <h4>{{skill.name}}</h4>
                            <div class="percent">
                                <div v-bind:style="skill.style"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="app.js"></script>
    </body>
</html>